.wrap_item{
   padding: 0;
   margin: 0;
   width: 400px;
   padding: 10px;
   list-style: none;
   border: 1px solid #a2a2a2;
   border-radius: 10px;
   background: #f4f4f4;
   box-shadow: 0 0 4px 1px grey;
}
.wrap_item .list_item span:hover{
	-webkit-box-shadow: inset 0px 0px 15px grey;
	-moz-box-shadow: inset 0px 0px 15px grey;
	box-shadow: inset 0px 0px 15px grey;
	-webkit-transition: inset .3s in-ease;
	-moz-transition: inset .3s in-ease;
	-ms-transition: inset .3s in-ease;
	-o-transition: inset .3s in-ease;
	transition: inset .3s in-ease;
	cursor: pointer;
}
.wrap_item .list_item span{
	color: grey;
	text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   margin: 5px 0;
   display: block;
   font: normal 17px 'Helvetica';
   padding: 10px 15px;
	border: 1px solid grey;
	-webkit-border-radius: 3px;	
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: linear-gradient( #ffffff 1%,#eaeaea 100%);
	background: -moz-linear-gradient( #ffffff 1%,#eaeaea 100%);
	background: -webkit-linear-gradient( #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient( #ffffff 1%,#eaeaea 100%);
   background: linear-gradient( #ffffff 1%,#eaeaea 100%);
	-webkit-box-shadow: inset 1px 0px 7px grey;
	-moz-box-shadow: inset 1px 0px 7px grey;
	box-shadow: inset 1px 0px 7px grey;
}
.wrap_item .list_item .parent_list{
   display: block;
   list-style: none;
	background: none;
	border: 0;
	text-align: left;
	margin: 10px;
	position: relative;
}
.wrap_item .list_item .parent_list span{
	border: 0;
	background: 0;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.gorod {
	font: 15px "Arial";
	text-transform: uppercase;
	color: #2a2a2a;
	margin: 10px 0;
}
.gorod:hover{
	text-decoration: underline;
	cursor: pointer;
}
.popup:before{
	content: '';
	display: block;
	position: absolute;
	top: 40px;
	left: -40px;
	border: 20px solid transparent;
	border-right: 20px solid #eaeaea;
}
.gorod + .popup{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	right: 0;
	width: 450px;
	text-align: justify;
	-webkit-transition: all .6s ease;
   -moz-transition: all .6s ease;
   -ms-transition: all .6s ease;
   -o-transition: all .6s ease;
   transition: all .6s ease;
	padding: 20px 25px;
}
.active + .popup{
	visibility: visible;
	opacity: 1;
	display: block;
	position: absolute;
   background: linear-gradient( #ffffff 1%,#eaeaea 100%);
	background: -moz-linear-gradient( #ffffff 1%,#eaeaea 100%);
	background: -webkit-linear-gradient( #ffffff 1%,#eaeaea 100%);
	background: -ms-linear-gradient( #ffffff 1%,#eaeaea 100%);
   background: linear-gradient( #ffffff 1%,#eaeaea 100%);*/
	-webkit-box-shadow: inset 1px 0px 7px grey;
	-moz-box-shadow: inset 1px 0px 7px grey;
	box-shadow: inset 1px 0px 7px grey;
   top: -50px;
   right: -530px;
   -webkit-transition: all .6s ease-in;
   -moz-transition: all .6s ease-in;
   -ms-transition: all .6s ease-in;
   -o-transition: all .6s ease-in;
   transition: all .6s ease-in;*/
   padding: 20px;
   border-radius: 10px;  
}

